ethereum/node_modules
ethereum/.env

# Hardhat files
ethereum/cache
ethereum/artifacts

# TypeChain files
ethereum/typechain
ethereum/typechain-types

# solidity-coverage files
ethereum/coverage
ethereum/coverage.json


# client
client/node_modules
client/.next
